@model IEnumerable<DMOficialGestorDeTareasMVC.Models.DMTarea>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DMTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DMDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DMFechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DMPrioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DMCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DMTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DMDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DMFechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DMPrioridad.DMDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DMCategoria.DMNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DMTareaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DMTareaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DMTareaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
